<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create Review</title>
    <link rel="stylesheet" th:href="@{'/assets/css/bootstrap.min.css'}" />
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/slate/bootstrap.min.css" rel="stylesheet" integrity="sha384-RpX8okQqCyUNG7PlOYNybyJXYTtGQH+7rIKiVvg1DLg6jahLEk47VvpUyS+E2/uJ" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/assets/css/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/assets/css/app.css"/>
</head>
<body>
    <div class="container">
        <h1>Create a review</h1>
    </div>

    <div class="container well-lg">
        <form class="form-horizontal" th:object="${review}" th:action="@{'/createReview/' + ${id}}" method="POST">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <fieldset>
                <legend>Review</legend>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Notes</label>
                    <div class="col-lg-6">
                        <input class="form-control" type="text" th:field="*{notes}" placeholder="Share your thoughts on the film!"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Rating out of 5 stars</label>
                    <div class="col-lg-6">
                        <input class="form-control" type="text" th:field="*{rating}" placeholder="Rating out of 5 stars"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6 col-lg-offset-2">
                        <input class="btn btn-success" type="submit" value="Add Review"/>
                        <a href="/" class="pull-right btn btn-primary">Back to Movies</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

</body>
</html>