<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <link rel="stylesheet" th:href="@{'/assets/css/bootstrap.min.css'}" />
    <link rel="stylesheet" href="/assets/css/app.css"/>
</head>
<body>
    <div class="container">
        <h1 class="text-center well well-lg">WELCOME TO MOVIES!</h1>
        <a href="/add" class="btn btn-success pull-right">Add a Movie</a>

    <div class="container col-md-10 col-md-offset-2">
        <ul class="row list-unstyled text-center">
            <li id="flick" th:each="myMovie : ${myMovies}" class="container well well-sm col-md-3">
                <a th:href="${myMovie.link}" th:text="${myMovie.title}"></a>
                <br/>
                <span th:text="${myMovie.release}"></span>
                <br/>
                <span th:text="${myMovie.genre}"></span>
            </li>
        </ul>
    </div>


    </div>


</body>
</html>