<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{'/assets/css/bootstrap.min.css'}" />
</head>
<body>
    <div style="color:red;" th:text="${errors}"></div>

    <div class="container">
        <form action="/login" th:object="${user}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <label>Username</label>
            <input type="text" th:field="*{username}"/>
            <br/>
            <label>Password</label>
            <input type="password" th:field="*{password}"/>
            <br/>
            <input type="submit" value="Login"/>
        </form>
    </div>
</body>
</html>