<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Update</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/css/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/assets/css/app.css"/>
</head>
<body>
    <div class="container">
        <form class="form-horizontal" th:object="${movie}" th:action="@{'/movie/' + ${movie.id}}" method="POST">
            <fieldset>
                <legend>Edit Movie Details</legend>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Movie Title</label>
                    <div class="col-lg-6">
                        <input class="form-control" type="text" th:field="*{title}" placeholder="Title"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Genre</label>
                    <div class="col-lg-6">
                        <input class="form-control" type="text" th:field="*{genre}" placeholder="Genre"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">IMDB Link</label>
                    <div class="col-lg-6">
                        <input class="form-control" type="text" th:field="*{link}" placeholder="IMDB Link"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Release Year</label>
                    <div class="col-lg-6">
                        <input class="form-control" type="text" th:field="*{release}" placeholder="Year of Release"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6 col-lg-offset-2">
                        <input class="btn btn-success" type="submit" value="Update!"/>
                        <a href="/" class="pull-right btn btn-primary">Back to Movies</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</body>
</html>

